@{
    var Compte1 = new Pojeet.Models.Dal().ObtenirConsumer(User.Identity.Name);
}
@model Pojeet.ViewModels.UtilisateurViewModel


@{
    Layout = "_LayoutIdentifie";
    ViewBag.Title = "PosterAnnonce";
}



<div class="annonce_form mt-5 mb-5">

    <!-- Annonce -->

    <div class="annonce" id="poste_annonce">

        @using (Html.BeginForm("PosterAnnonce", "Annonce", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {


            <!-- Etat de l'annonce -->

            @Html.HiddenFor(m => m.Anonce.EtatAnnonce, Pojeet.Models.EtatAnnonce.Envoyé)

            <!-- Type d'annonce -->

            <h4>Selectionner le type d'annonce*</h4>
            <span class="font-size-18">Besoin : </span> @Html.RadioButtonFor(m => m.Anonce.TypeDeAnnonce, Pojeet.Models.TypeAnnonce.Besoin, "Besoin")
            <span class="font-size-18"> | Service : </span> @Html.RadioButtonFor(m => m.Anonce.TypeDeAnnonce, Pojeet.Models.TypeAnnonce.Service, "Service")<br>
            @Html.ValidationMessageFor(model => model.Anonce.TypeDeAnnonce)




            <!-- Catégorie --><br>

            <h3>Selectionner la catégorie*</h3>

            @Html.DropDownListFor(m => m.Anonce.CategorieDeAnnonce, new SelectList(Enum.GetValues(typeof(Pojeet.Models.CategorieAnnonce))), new { @class = "search_select_form js-select", @style= "width=200px;" })<br><br>

            @Html.ValidationMessageFor(model => model.Anonce.CategorieDeAnnonce)

            <!-- Image -->

            <h3>Selectionner une image</h3>
            <input  class = "js-select" type="file" name="AnnoncePhoto" data-placeholder ="Choisir une fichier" data-browse ="Parcourir"/><br><br>


            <!-- FAIRE AFFICHER LES IMAGES -->

            <!-- Titre annonce -->

            <h3>Titre de l'annonce*</h3>

            @Html.TextBoxFor(model => model.Anonce.TitreAnnonce, new { placeholder = "Titre", @class = "search_select_form  js-select" })<br><br>
            @Html.ValidationMessageFor(model => model.Anonce.TitreAnnonce)





            <!-- Description -->

            <h3>Description*</h3>
            @Html.TextAreaFor(model => model.Anonce.Description, new { @class = "form-control border-e-1", placeholder = "Description" })<br><br>

            @Html.ValidationMessageFor(model => model.Anonce.Description)


            <!-- Date butoir -->


            <h3>Date butoir*</h3>
            @Html.TextBoxFor(model => model.Anonce.DateButoir, new { @type = "date", @class = "search_select_form  js-select"})<br><br>

            @Html.ValidationMessageFor(model => model.Anonce.DateButoir)


            <!-- Département -->

            <h3>Département*</h3>
            @Html.TextBoxFor(model => model.Anonce.Localisation, new { placeholder = "Localisation", @class = "search_select_form  js-select" })<br><br>

            @Html.ValidationMessageFor(model => model.Anonce.Localisation)


            <!-- Prix -->

            <h3>Prix</h3>
            @Html.TextBoxFor(model => model.Anonce.Prix, new { placeholder = "Prix", @class = "search_select_form  js-select" })<br><br>






            <p>* : Champ obligatoire</p>



            <input type="submit" value="Publier" class="btn-primary-e align-self-center font-size-14 btn-search mb-1 float-right" />


        }
    </div>




</div>

