
@model Pojeet.Models.Annonce


@{
    Layout = "_LayoutIdentifie";
    ViewBag.Title = "PosterAnnonce";
}

    
    



<div class="annonce_form">


    <form>

        <!-- Type d'annonce -->

        <div class="type-post flex-row">
            <div class="flex-row">
                <input name="type-post" id="typePost1" type="radio" value="offre" checked>
                <label class="bold ml-1" style="text-shadow: none;" for="typePost1">Offres</label>
            </div>
            <div class="flex-row ml-4">
                <input name="type-post" id="typePost2" type="radio" value="demande">
                <label class="bold ml-1" style="text-shadow: none;" for="typePost2">Demandes</label>
            </div>
        </div>


        <!-- Annonce -->

        <div class="annonce">

            @using (Html.BeginForm())
            {


            <form>

                <!-- Type d'annonce -->

                <h3>Selectionner le type d'annonce*</h3><br>
                <span>Besoin : </span> @Html.RadioButtonFor(m => m.TypeDeAnnonce, Pojeet.Models.TypeAnnonce.Besoin))
                <span> | Service : </span> @Html.RadioButtonFor(m => m.TypeDeAnnonce, Pojeet.Models.TypeAnnonce.Service)
                @Html.ValidationMessageFor(model => model.TypeDeAnnonce)<br>



                <!-- Catégorie --><br>

                <h3>Selectionner la catégorie*</h3>
                @Html.DropDownListFor(m => m.CategorieDeAnnonce, new SelectList(Enum.GetValues(typeof(Pojeet.Models.CategorieAnnonce))))
                @Html.ValidationMessageFor(model => model.CategorieDeAnnonce)<br>

                <!-- Catégorie -->

                <h3>Selectionner une image</h3><br>
                <input type="file" /><br>

                <!-- FAIRE AFFICHER LES IMAGES -->


        <label for="categorie" class="inline">Catégorie :</label> <br>
        <input class="border-e-1" type="text" list="catégorie_proposee" id="categorie" name="categorie" />
        <datalist id="catégorie_proposee">
            <option value="Moteur"></option>
            <option value="Habitacle"></option>
            <option value="Carrosserie"></option>
            <option value="Roue"></option>
        </datalist><br><br>


                <h3>Titre de l'annonce*</h3><br>
                @Html.TextBoxFor(model => model.TitreAnnonce)
                @Html.LabelFor(model => model.TitreAnnonce)
                @Html.ValidationMessageFor(model => model.TitreAnnonce)<br>


        <label for="titre" class="inline">Titre de l'annonce :</label> <br>
        <input class="border-e-1" type="text" id="titre" name="titre"><br><br>


                <h3>Description*</h3><br>
                @Html.TextAreaFor(model => model.Description, new { @class = "form-control", placeholder = "Description" })
                @Html.LabelFor(model => model.Description)
                @Html.ValidationMessageFor(model => model.Description)<br>



        <label for="description" class="inline">Description :</label> <br>
        <textarea class="border-e-1 w-100" style="width: 500px;" type="textarea" rows="10" cols="50" id="description"
                  name="description"></textarea><br><br>


                <h3>Date butoir*</h3><br>
                @Html.TextBoxFor(model => model.DateButoir, new { @type = "date" })
                @Html.LabelFor(model => model.DateButoir)
                @Html.ValidationMessageFor(model => model.DateButoir)<br>


                <!-- Département -->

                <h3>Département*</h3><br>
                @Html.TextBoxFor(model => model.Localisation)
                @Html.LabelFor(model => model.Localisation)
                @Html.ValidationMessageFor(model => model.Localisation)<br>


                <!-- Prix -->

                <h3>Prix</h3><br>
                @Html.TextBoxFor(model => model.Prix)
                @Html.LabelFor(model => model.Prix)<br>



                <input type="submit" value="Publier" class="Publier" /><br>

                <p>* : Champ obligatoire</p>

            </form>
            }
        </div>


        <label for="date" class="inline">Date butoire :</label> <br>
        <input class="border-e-1" type="date" id="date" name="date"><br><br>

        <!-- Département -->

        <label for="departement" class="inline">Département :</label> <br>
        <input class="border-e-1" type="number" id="prix" name="prix"><br><br>

        <!-- Prix -->

        <label for="prix" class="inline">Prix :</label> <br>
        <input class="border-e-1" type="number" id="prix" name="prix"><br><br>

        <input type="submit" value="Publier" class="btn-primary-e align-self-center font-size-14 btn-search mb-1 float-right" />

    </form>
</div>

